.container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
}

.portada{
    text-align: center;
}

.portadaUES{
    margin-top: 20px;
    width: 290px;
    height: 350px;
}

.tutiloProyecto{
    width: 65%;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 35px;
}
.indice {
    margin-top: 70px;
    margin-left: 22%;
    font-size: 22px;
}

.sub-temas{
    list-style: none;
}

.Introduccion{
    margin-top: 85px;
    font-size: 17px;
    line-height: 2.0;
    text-align: justify;
}

.objetivosEstudios{
    margin-top: 20px;
}


.desarrollo{
    margin-top: 26px;
}

.herramientas{
    margin-top: 45px;
}

.git-img{
    
    width: 30%;
    transition: transform 0.5s; 
}


/* Estilos generales */
.txt-center{
    text-align: center;
}

.bloques{
    font-size: 18px;
    line-height: 2.0;
    text-align: justify;
    margin-left: 2.54cm;
    margin-right: 2.54cm;
}

.listas{
    list-style: square;
}

.centred{
    text-align: center;
}

.desarrollo-img {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.git-img {
    position: relative;
    display: inline-block;
    width: 40%; 
    height: auto;
}

.git-img img {
    margin-top: auto;
    left: 0;
    width: 100%; 
    height: 100%; 
    opacity: 1;
    transition: opacity 0.5s; 
}

.git-img .texto {
    position: absolute;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    font-size: 18px; 
    opacity: 0; 
    transition: opacity 0.5s; 
    pointer-events: none; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.git-img:hover img {
    opacity: 0; 
}

.git-img:hover .texto {
    opacity: 1;
}

.bloques-herramientas{
    font-size: 18px;
    line-height: 2.0;
    text-align: justify;
    height: 100%;
    width: 60%;
    margin-left: 10px;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #f5f5f5; 
    padding: 10px; 
}

.bordes { 
    height: 100%; 
    border: 2px solid #ccc;  
    border-radius: 10px; 
    background-color: #f5f5f5;  
    padding: 10px; 
    box-sizing: border-box; 
} 

ul.CVS{
    height: 180px;
}
